name: CI

on: [push]

jobs:
  test:
    name: Run simplefetch tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Prepare just
        uses: extractions/setup-just@v3
      - name: Run tests
        run: just test
      - name: Check with Clippy
        run: just lint
