name: CI

on: [push]

jobs:
  test:
    name: Run simplefetch tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run tests
        run: cargo test
      - name: Check with Clippy
        run: cargo clippy -- -D warnings
